:root{
    --primaryColor: #ff206e;
    --mainFont:"Open Sans", sans-serif;
}

body{
    font-family: var(--mainFont);
}

.text__primary{
    color: var(--primaryColor);
}

.navbar-nav .nav-link{
    color:white;
}

.navbar-nav .nav-link:hover{
    color:var(--primaryColor);
}

.navbar .navbar-brand {
    color: white;
}

.navbar .navbar-brand:hover{
    color: var(--primaryColor);
}

.hero{
    background-image: url(./../assist/image/hero/bg.jpg);
    background-size: cover;
}

.hero a{
    color: var(--primaryColor);
}

.about,.portfolio{
    background-image: url(./../assist/image/about/light_dot.jpg);
}

.portfolio .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    color: var(--primaryColor);
}

.portfolio .nav-link{
    color: #000;
    border: none;
}

.portfolio .nav-tabs{
    border-bottom: none;
}