:root{
    --primaryColor: #ff206e;
    --mainFont:"Open Sans", sans-serif;
}

body{
    font-family: var(--mainFont);
}

.navbar-nav .nav-link{
    color:white;
}

.navbar-nav .nav-link:hover{
    color:var(--primaryColor);
}

.navbar .navbar-brand {
    color: white;
}

.navbar .navbar-brand:hover{
    color: var(--primaryColor);
}